.ui-custom-button {
    height: 35px;
    border-radius: 10px;
    border-width: 0px;
    border: none;
    background-color: #9EB248;
    display: inline-block;
    transition: all 0.2s;
    font-size: 115%;
    margin: 5% auto;
}
.ui-custom-button:active{
    transform: scale(0.95)
}

/*.ui-custom-button:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(file:///C:/Users/kirch/Dropbox/Uni/Informatik 1+3/Softwarearchitektur/PS SA/Projekt/g1t2/src/main/webapp/images/LoadingSign.png);
  background-repeat: no-repeat;
  background-position: center;
  animation: loading-loading-icon 2s linear infinite;
}

@keyframes loading-loading-icon{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}*/